.product-container {
    flex: 1;
    margin: 5px;
    min-height: 280px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5fbfd;
    position: relative;
    &:hover .info-container {
        opacity: 1 !important;
    }
    .circle {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
    }
    .image {
        height: 75%;
        z-index: 2;
        img{
            height: 100%;
            z-index: 2;
        }
    }
    .info-container {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.2);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5 ease;
        .icon {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            cursor: pointer;
            transition: all 0.5s ease;
            :hover {
                background-color: #e9f5f5;
                transform: scale(1.1);
            }
        }
    }
}